<div class="min-h-screen px-6 sm:px-12 flex flex-col justify-center items-center bg-gray-950">
  <div class="max-w-3xl text-center">
    <div class="mb-6 flex justify-center">
      <img ngSrc="logo.svg" alt="Logo" width="96" height="96"/>
    </div>

    <h1 class="mb-6 text-5xl sm:text-6xl font-extrabold text-white">
      Welcome to <span class="text-blue-500">recman</span>
    </h1>

    <p class="mb-10 text-lg sm:text-xl text-gray-300">
      Your personal recipe manager – collect, organize, and discover delicious ideas.
    </p>

    <div class="flex flex-col sm:flex-row justify-center gap-4">
      <a routerLink="/auth/login"
         class="px-6 py-3 inline-flex items-center justify-center rounded-md text-white bg-blue-600
         hover:bg-blue-700  text-lg font-semibold transition">
        Login
      </a>
      <a routerLink="/auth/register"
         class="px-6 py-3 inline-flex items-center justify-center text-gray-900 bg-white hover:bg-gray-200
         rounded-md text-lg font-semibold transition">
        Register
      </a>
    </div>
  </div>
</div>
