@import "tailwindcss";

.dark-dialog .mdc-dialog__surface {
  padding: 1.5rem;
  background-color: #1f2937;
  border-radius: 0.5rem;
}

.dark-dialog .mdc-dialog__surface .mat-mdc-dialog-title {
  color: #f9fafb !important;
}
